@import url("./board-vars.css");
@import url("./enemies-panel.css");
@import url("./hero-panel.css");

game-board {
  width: var(--board-width);
  height: var(--board-height);
}

#game-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--secondary--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  overflow: hidden;
}

#game-board {
  width: var(--board-width);
  height: var(--board-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-right-container {
  width: var(--board-width);
  height: var(--board-height);
}
