* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#select-hero-container {
  width: var(--board-width);
  height: var(--board-height);
  background-color: var(--board-bg-color-1);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#select-hero-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

#select-hero-container > div button {
  background: radial-gradient(
    circle at 2.9% 7.7%,
    rgb(164, 14, 176) 0%,
    rgb(254, 101, 101) 90%
  );
  font-family: var(--secondary-font);
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 10px;
}

#select-hero-container > div button:hover {
  outline-style: solid;
  outline-color: rgba(255, 255, 255, 0.75);
  outline-width: 1px;
  cursor: pointer;
}

#select-hero-container h2 {
  color: var(--accent-color-call-to-action);
  font-size: 28px;
  letter-spacing: 2px;
  font-family: var(--primary-font);
  font-weight: 500;
  text-transform: uppercase;
}

#select-hero-container #heroes-container {
  width: 100%;
  flex: 1;
  background-color: var(--accent-color-call-to-action);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
