start-game-panel {
  width: var(--board-width);
  height: var(--board-height);
}

#start-game-container {
  background-color: var(--board-bg-color-1);
  width: var(--board-width);
  height: var(--board-height);
  border-radius: 5px;
  display: grid;
  place-items: center;
}

#buttons-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 240px;
}

#buttons-container button {
  background: radial-gradient(
    circle at 2.9% 7.7%,
    rgb(164, 14, 176) 0%,
    rgb(254, 101, 101) 90%
  );
  font-family: var(--secondary-font);
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px #000;
}

#buttons-container button:hover {
  outline-style: solid;
  outline-color: rgba(255, 255, 255, 0.75);
  outline-width: 1px;
  cursor: pointer;
}

#install-game {
  margin-top: 70px;
}
